Atividade Prática - Python 

Limpeza e Tratamento de Dados

In [51]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [52]:
#importar dados
dataset = pd.read_csv("~/Área de trabalho/Backup/ENGENHARIA/FORMACAO DATA SCIENCE - Udemy/MATERIAIS/9.Pratica em R/dados/tempo.csv",sep = ";")
#visualização
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [53]:
# Exploração de dados categóricos

#Estado

agrupado = dataset.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [54]:
dataset.loc[dataset["Aparencia"]=="menos","Aparencia"] = "sol"

agrupado = dataset.groupby(['Aparencia']).size()

agrupado

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64

In [55]:
# Verificação da Temperatura
agrupado = dataset.groupby(['Temperatura']).size()
dataset['Temperatura'].isnull().sum()
agrupado

Temperatura
64      1
65      1
68      1
69      1
70      1
71      1
72      1
75      2
80      1
81      1
83      1
85      1
1220    1
dtype: int64

In [56]:
# Cálculo da mediana e do desvio padrão
desv = sts.stdev(dataset["Temperatura"])
desv

306.433758505241

In [57]:
#Atualização por meio da mediana

mediana = sts.median(dataset["Temperatura"])
mediana

73.5

In [58]:
#Atualização por meio da median

dataset.loc[dataset["Temperatura"] >= 2*desv, "Temperatura"] = mediana

In [59]:
# Verificação da Temperatura após a remoção do outlier
agrupado = dataset.groupby(['Temperatura']).size()
dataset['Temperatura'].isnull().sum()
agrupado

Temperatura
64.0    1
65.0    1
68.0    1
69.0    1
70.0    1
71.0    1
72.0    1
73.5    1
75.0    2
80.0    1
81.0    1
83.0    1
85.0    1
dtype: int64

In [60]:
agrupado = dataset.groupby(['Umidade']).size()

agrupado

Umidade
65.0     1
70.0     3
75.0     1
80.0     1
85.0     1
86.0     1
90.0     2
91.0     1
95.0     1
200.0    1
dtype: int64

In [61]:
#Avaliando se há valores nulos
dataset['Umidade'].isnull().sum()

1

In [67]:
# Cálculo da do desvio padrão
desv = sts.stdev(dataset['Umidade'])
desv

33.49543289353453

In [63]:
#Atualização por meio da mediana

mediana = sts.median(dataset["Temperatura"])
mediana

72.75

In [64]:
#Substituição dos NAs pela mediana

dataset.loc[dataset['Umidade'].isnull(),"Umidade"] = mediana

In [65]:
agrupado = dataset.groupby(['Umidade']).size()

agrupado

Umidade
65.00     1
70.00     3
72.75     1
75.00     1
80.00     1
85.00     1
86.00     1
90.00     2
91.00     1
95.00     1
200.00    1
dtype: int64

In [66]:
# Cálculo da do desvio padrão
desv = sts.stdev(dataset['Umidade'])
desv

33.49543289353453

In [68]:
#Substituição dos outliers pela mediana

dataset.loc[dataset['Umidade'] >= 3*desv,"Umidade"] = mediana

In [69]:
agrupado = dataset.groupby(['Umidade']).size()

agrupado

Umidade
65.00    1
70.00    3
72.75    2
75.00    1
80.00    1
85.00    1
86.00    1
90.00    2
91.00    1
95.00    1
dtype: int64

In [73]:
#Substituição dos NAs pela mediana

nulo =dataset.loc[dataset['Jogar'].isnull(),"Umidade"]
nulo

Series([], Name: Umidade, dtype: float64)